md-input-container {
  width: 100%;
  margin-bottom: 1rem;
}

.cardAdd {
  margin-top: 5rem;
  text-align: center;

}

#btnadd {
  background-color: red;
  color: white;
  width: 50%;

}

#void {
  height: 100px;
}
.qrsection {
  margin-top: 1rem;
}

h1 {
  text-align: center;

}
