<md-grid-list cols="1" rowHeight="500px">
  <md-grid-tile>
    <md-card>
      <md-card-title>
        <h1>Add Device</h1>
      </md-card-title>
      <form>
      <md-input-container>
        <input type="text" mdInput placeholder="Name of device">
      </md-input-container>
      <md-card-content>
        <md-select placeholder="Select device Type">
          <md-option value="">gggggg</md-option>
          <md-option value="">gggggg</md-option>
          <md-option value="">gggggg</md-option>
          <md-option value="">gggggg</md-option>

        </md-select>
      </md-card-content>
      <div id="void"></div>
      <md-card-actions>
        <button md-raised-button id="btnadd">Add</button>
      </md-card-actions>
      </form>
    </md-card>
  </md-grid-tile>
</md-grid-list>
