<md-grid-list cols="1" rowHeight="600px">



  <md-grid-tile>
    <md-card class="cardAdd">
      <md-card-title>
        <h1>Add Device</h1>
      </md-card-title>
      <app-qrcode *ngIf="added" [qrcode]="qrcode"></app-qrcode>

      <form [formGroup]="addForm" (submit)="addDevice()" *ngIf="!added">
      <md-input-container>
        <input type="text" mdInput placeholder="Smart Device ID" formControlName="sdid">
        <md-hint>(13 Characters)</md-hint>
      </md-input-container>
        <md-input-container>
          <input type="text" mdInput placeholder="Device Code" formControlName="sharecode">
          <md-hint>(8 Characters)</md-hint>
        </md-input-container>

        <md-select placeholder="Select device Name" formControlName="dtype">
          <md-option value="0">Smart swtich</md-option>
          <md-option value="1">Smart sensor humidity and temperature</md-option>
          <md-option value="2">Gass sensor</md-option>
          <md-option value="3">Smart alarm</md-option>
        </md-select>

      <div id="void">

      </div>
      <md-card-actions>
        <button md-raised-button id="btnadd" type="submit">Add</button>
      </md-card-actions>
      </form>
    </md-card>
  </md-grid-tile>
</md-grid-list>


